@font-face {
    font-family: 'BatonTurbo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('BatonTurbo Regular');
}
@font-face {
    font-family: 'BatonTurbo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('BatonTurbo Medium');
}

:root,
body {
    font-family: 'BatonTurbo', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .candidate-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .graph-container {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .vote-totals {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .harris-color {
    color: #0071E1;
  }
  
  .trump-color {
    color: #B24846;
  }
  
  .bars {
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .bars div {
    height: 100%;
    margin-right: 2px;
  }
  
  .bars div:last-child {
    margin-right: 0;
  }
  
  .bars .democrat {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .bars .republican {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .bars::after {
    content: '';
    position: absolute;
    top: -100%; /* Extend above the bars div */
    left: 50%;
    height: 200%; /* Extend below the bars div */
    width: 1px;
    border-left: 1px dashed #000; /* Adjust color as needed */
    z-index: 1; /* Ensure the line appears above the bars */
  }

  .bars::before {
    content: '270 to win';
    position: absolute;
    top: -130%; /* Adjust as needed to position above the bars */
    left: calc(50% + 5px); /* 5px to the right of the center line */
    font-size: 12px; /* Adjust as needed */
    font-weight: 500; /* This sets the font weight to medium */
    color: #000; /* Adjust color as needed */
    white-space: nowrap;
    z-index: 2;
  }
  
  .candidate-names {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: medium;
  }
  
  .legend-wrapper {
    margin-top: 20px;
  }
  
  .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .legend-symbol {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .circle:first-child {
    left: 0;
    top: 0;
  }

  .circle:last-child {
    right: 0;
    bottom: 0;
  }

  .republican { background-color: #B24846; }
  .lean_trump { background-color: #C86D6C; }
  .battleground_trump { background-color: #DB908A; }
  .battleground_harris { background-color: #74B8FC; }
  .lean_harris { background-color: #0F7FEE; }
  .democrat { background-color: #0071E1; }